*{
    margin: 0;
    padding: 0;
}
.header{
    width: 100%;
    height: 75px;
    background-color: #007aff;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.header .logo{
    position: relative;
    width: 20%;
    height: 75px;
    color: white;
}

.header .logo h2{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 50px;
    font-size: 30px;
}

.header .menu{
    width: 80%;
    height: 75px;
}
.header .menu div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 35px;
    margin-left: -50px;
}

.header .menu div a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: .2s;
}

.header .menu div a:hover{
    color: #d8d8d8;
}

@media screen and (max-width: 1500px) {
    .header .logo h2{
        font-size: 25px;
    }
}

@media screen and (max-width:1164px) {
    .header .logo{
        width: 40%;
    }
    .header .menu{
        width: 60%;
    }
}